## General

# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# QtCreator files
*.user

# PyCharm files
.idea

# OSX dir files
.DS_Store

## Project specific
# CIFAR-10/100 MNIST dataset
data/cifar-10-binary/*
data/cifar-100-binary/*
data/mnist/*

# Training & evaluation shell files
*.sh
!lenet-fc_mnist.sh
!lenet-5_mnist.sh
!lenet-fc_cifar10.sh
!lenet-5_cifar10.sh
!lenet-5_cifar100.sh
!vgg-16_cifar10.sh
!vgg-16_cifar100.sh
results
